
<ion-header>
  <ion-navbar color="{{theme}}">
    <ion-title>
      Profil
    </ion-title>
  </ion-navbar>		
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tarik untuk memperbaharui"
      refreshingSpinner="circles"
      refreshingText="Memperbaharui...">
    </ion-refresher-content>
  </ion-refresher>

	

	<ion-card>
	  <img [src]="photo" *ngIf="profile_pict_doct" alt="avatar" style='height: 40vh; width: 40vh; display: block; margin: auto;' >

		<img src="assets/pict/person-flat.png" *ngIf="!profile_pict_doct" style='height: 40vh; width: 40vh; display: block; margin: auto;'>
	  <ion-card-content>
	    <ion-card-title text-center *ngFor="let data of profilDokter">
	      dr.{{data.name_doctor}}
	      </ion-card-title>
	  </ion-card-content>
	</ion-card>

	<ion-list>
	  <ion-item>
	    <ion-icon name="mail" item-left></ion-icon>
	     <font size="3">Email</font>
	     <p  *ngFor="let data of profilDokter">{{data.email_doctor}}</p>
	  </ion-item>

	  <ion-item>
	    <ion-icon name="call" item-left></ion-icon>
	     <font size="3">Nomor Telepon</font>
	     <p  *ngFor="let data of profilDokter">{{data.no_tel_doctor}}</p>
	  </ion-item>


	  <ion-item>
	    <ion-icon name="medkit" item-left></ion-icon>
	     <font size="3">Spesialisasi</font>
	     <p  *ngFor="let data of profilDokter">{{data.specialization}}</p>
	  </ion-item>

	  <ion-item>
	    <ion-icon name="md-home" item-left></ion-icon>
	     <font size="3">Rumah Sakit</font>
	     <p  *ngFor="let data of profilDokter">{{data.hospital}}</p>
	  </ion-item>
		
	  <ion-item text-wrap>
	    <ion-icon name="ios-school" item-left></ion-icon>
	     <font size="3">Riwayat Pendidikan</font>
	     <p  *ngFor="let data of profilDokter">{{data.educational_background}}</p>
	  </ion-item>

	  <ion-item text-wrap>
	    <ion-icon name="ios-ribbon" item-left></ion-icon>
	     <font size="3">Riwayat Bekerja</font>
	     <p  *ngFor="let data of profilDokter">{{data.experience}}</p>
	  </ion-item>
	  

	</ion-list>
	<ion-item no-lines></ion-item>
</ion-content>
