<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Buat Akun
    </ion-title>
  </ion-navbar>		
</ion-header>



<ion-content padding>


<form #signupForm="ngForm" novalidate>
		<ion-list >
			
			<ion-item>
				<ion-label stacked color="dark"><font size="2">Nama</font></ion-label>
				<ion-input [(ngModel)]="name" name="name" type="text" #nama="ngModel" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
			
			<p ion-text [hidden]="nama.valid || submitted == false" color="danger" padding-left>
				Nama harus diisi
			</p>

			<ion-item>
				<ion-label stacked color="dark"><font size="2">Email</font></ion-label>
				<ion-input [(ngModel)]="email" name="email" type="email" #mail="ngModel" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
			
			<p ion-text [hidden]="mail.valid || submitted == false" color="danger" padding-left>
				Email harus diisi
			</p>

			<ion-item>
				<ion-label stacked color="dark"><font size="2">Password</font></ion-label>
				<ion-input [(ngModel)]="password" name="pass" type="password" #pass="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="pass.valid || submitted == false" color="danger" padding-left>
				Password harus diisi
			</p>


			<ion-item>
				<ion-label stacked color="dark"><font size="2">konfirmasi Password</font></ion-label>
				<ion-input [(ngModel)]="password2" name="pass2" type="password" #passconfirm="ngModel" required>
				</ion-input>
			</ion-item>
			<!--<p ion-text [hidden]="submitted2 == true" color="danger" padding-left>
				Password salah
			</p>-->
			<div ion-text [hidden]="submitted2==true && password2==password"  padding-left>
				<p color="danger" *ngIf="password2!=null">Password salah</p>
			</div>

			<ion-item>
				<ion-label><font size="2" color="black">Jenis Kelamin</font></ion-label>
				<ion-select [(ngModel)]="sex" name="sex" #jk="ngModel" required>
				<ion-option value="L">Laki-laki</ion-option>
				<ion-option value="P">Perempuan</ion-option>
				</ion-select>
			</ion-item>

			<p ion-text [hidden]="jk.valid || submitted == false" color="danger" padding-left>
				Pilih satu
			</p>


			<ion-item>
				<ion-label stacked color="dark"><font size="2">Nomor Telepon</font></ion-label>
				<ion-input [(ngModel)]="telephone" (ionChange)="checkTelephone()" name="telephone" pattern="[0]{1}[0-9]{1,}" maxlength="13" type="number" #telpon="ngModel" required>
				</ion-input>
			</ion-item>
			<div ion-text [hidden]="telpon.valid || submitted == false"  padding-left>
				<p color="danger" *ngIf="!telephone">Nomor telepon harus diisi</p>
				<p color="danger" *ngIf="telephone">Nomor telepon salah</p>
			</div>


			

			<!--<ion-item>
				<ion-label><font size="2" color="black">Rekening</font></ion-label>
				<ion-select [(ngModel)]="bank" name="bank" #bang="ngModel" required>
				<ion-option value="mandiri">Mandiri</ion-option>
				<ion-option value="bni">BNI</ion-option>
				<ion-option value="bri">BRI</ion-option>
				<ion-option value="bca">BCA</ion-option>
				<ion-option value="btn">BTN</ion-option>
				</ion-select>
			</ion-item>

			<p ion-text [hidden]="bang.valid || submitted == false" color="danger" padding-left>
				Pilih satu
			</p>

			<ion-item>
				<ion-label stacked color="dark"><font size="2">Nomor Rekening</font></ion-label>
				<ion-input [(ngModel)]="bank_number" (ionChange)="checkRekening()" name="bank_number" type="number" #rekening="ngModel" pattern="[0-9]{1}[0-9]{1,}" maxlength="30" required>
				</ion-input>
			</ion-item>
			
			<div ion-text [hidden]="rekening.valid || submitted == false"  padding-left>
				<p color="danger" *ngIf="!bank_number">Nomor rekening harus diisi</p>
				<p color="danger" *ngIf="bank_number">Nomor rekening salah</p>
			</div>-->

			<ion-item>
				<ion-label><font size="2" color="black">Spesialisasi</font></ion-label>
				<ion-select [(ngModel)]="specialization" name="specialization" #spesialisasi="ngModel" required>
			    <ion-option value="Umum">Umum</ion-option>
				<ion-option value="Anak">Anak</ion-option>
				<ion-option value="Bedah">Bedah</ion-option>
				<ion-option value="Gigi">Gigi</ion-option>
				<ion-option value="Jantung">Jantung</ion-option>
				<ion-option value="Kandungan">Kandungan</ion-option>
				<ion-option value="Kulit">Kulit</ion-option>
				<ion-option value="Mata">Mata</ion-option>
				<ion-option value="Orthopaedi">Orthopaedi</ion-option>
				<ion-option value="THT">THT</ion-option>
				</ion-select>
			</ion-item>

			<p ion-text [hidden]="spesialisasi.valid || submitted == false" color="danger" padding-left>
				Pilih satu
			</p>

			<ion-item>
				<ion-label stacked color="dark"><font size="2">Jumlah Pasien Maksimal</font></ion-label>
				<ion-input [(ngModel)]="patients_max" (ionChange)="checkPasienmax()" name="patients_max" type="number" #maksimal="ngModel" required>
				</ion-input>
			</ion-item>
			<!--<p ion-text [hidden]="maksimal.valid || submitted == false" color="danger" padding-left>
				Jumlah Pasien Maksimal is required
			</p>-->
			<div ion-text [hidden]="(maksimal.valid || submitted == false) && patients_max>0"  padding-left>
				<p color="danger" [hidden]="maksimal.valid || submitted == false">Jumlah Pasien Maksimal harus diisi</p>
				<p color="danger" *ngIf="patients_max<0">Jumlah pasien maksimal salah</p>
			</div>
			
			<ion-item>
				<ion-label stacked color="dark"><font size="2">Riwayat Pendidikan</font></ion-label>
				<ion-input [(ngModel)]="educational_background" name="educational_background" type="text" #pengalaman="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="pengalaman.valid || submitted == false" color="danger" padding-left>
				Riwayat pendidikan harus diisi
			</p>

			<ion-item>
				<ion-label stacked color="dark"><font size="2">Riwayat Bekerja</font></ion-label>
				<ion-input [(ngModel)]="experience" name="experience" type="text" #pengalaman="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="pengalaman.valid || submitted == false" color="danger" padding-left>
				Riwayat bekerja harus diisi
			</p>

			<ion-item>
				<ion-label stacked color="dark"><font size="2">Rumah Sakit</font></ion-label>
				<ion-input [(ngModel)]="hospital" name="hospital" type="text" #rs="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="rs.valid || submitted == false" color="danger" padding-left>
				Rumah sakit saat ini harus diisi
			</p>

		</ion-list>

		<ion-row responsive-sm>
			<ion-col>
				<button ion-button block (click)="signup(signupForm)" type="submit">DAFTAR</button>
			</ion-col>
		</ion-row>

	</form>

<!--
	<ion-item>
	    <ion-label stacked color="dark"><font size="3">Nama</font></ion-label>
	    <ion-input [(ngModel)]="name" type="text"></ion-input>
	</ion-item>

	<ion-item>
	    <ion-label stacked color="dark"><font size="3">Email</font></ion-label>
	    <ion-input [(ngModel)]="email" type="email"></ion-input>
	</ion-item>

	<ion-item>
	    <ion-label stacked color="dark"><font size="3">Password</font></ion-label>
	    <ion-input [(ngModel)]="password" type="password"></ion-input>
	</ion-item>

	<ion-item>
	    <ion-label><font size="3" color="black">Jenis Kelamin</font></ion-label>
	    <ion-select [(ngModel)]="sex">
	      <ion-option value="L">Laki-laki</ion-option>
	      <ion-option value="P">Perempuan</ion-option>
	    </ion-select>
	</ion-item>

	<ion-item>
	    <ion-label stacked color="dark"><font size="3">Nomor Telepon</font></ion-label>
	    <ion-input [(ngModel)]="telephone" type="number"></ion-input>
	</ion-item>	
	<ion-item>
	    <ion-label><font size="3" color="black">Bank</font></ion-label>
	    <ion-select [(ngModel)]="bank">
	      <ion-option value="mandiri">Mandiri</ion-option>
	      <ion-option value="bni">BNI</ion-option>
	      <ion-option value="bri">BRI</ion-option>
	      <ion-option value="bca">BCA</ion-option>
	      <ion-option value="btn">BTN</ion-option>
	    </ion-select>
	</ion-item>

	<ion-item>
	    <ion-label stacked color="dark"><font size="3">Nomor Rekening</font></ion-label>
	    <ion-input [(ngModel)]="bank_number" type="number"></ion-input>
	</ion-item>
	<ion-item>
	    <ion-label><font size="3" color="black">Spesialisasi</font></ion-label>
	    <ion-select [(ngModel)]="specialization">
	      <ion-option value="Umum">Umum</ion-option>
	      <ion-option value="Gigi">Gigi</ion-option>
	      <ion-option value="Anak">Anak</ion-option>
	      <ion-option value="Kandungan">Kandungan</ion-option>
	      <ion-option value="THT">THT</ion-option>
	    </ion-select>
	</ion-item>
	
	<ion-item>
	    <ion-label stacked color="dark"><font size="3">Jumlah Pasien Maksimal</font></ion-label>
	    <ion-input [(ngModel)]="patients_max" type="number"></ion-input>
	</ion-item>
	
	<button ion-button block (click)='daftar()'>DAFTAR</button>-->

</ion-content>

