
<ion-header>
  <ion-navbar color="{{theme}}">
    <ion-title>
      Edit Profil
    </ion-title>
  </ion-navbar>		
</ion-header>


<ion-content padding>

	<ion-item>
	    <ion-label stacked color="dark"><font size="2">Nama</font></ion-label>
	    <ion-input placeholder="nama" [(ngModel)]="name" type="text" value="{{name}}" required></ion-input>
	</ion-item>

	<ion-item>
	    <ion-label stacked color="dark"><font size="2">Nomor Telepon</font></ion-label>
	    <ion-input placeholder="nomor telepon" [(ngModel)]="no_tel_doctor" type="number" value="{{no_tel_doctor}}" required></ion-input>
	</ion-item>	

	<ion-item>
	    <ion-label><font size="3" color="black">Rekening</font></ion-label>
	    <ion-select [(ngModel)]="bank_doctor" >
	      <ion-option value="mandiri">Mandiri</ion-option>
	      <ion-option value="bni">BNI</ion-option>
	      <ion-option value="bri">BRI</ion-option>
	      <ion-option value="bca">BCA</ion-option>
	      <ion-option value="btn">BTN</ion-option>
	    </ion-select>
	</ion-item>
	<ion-item>
	    <ion-label stacked color="dark"><font size="3">Nomor Rekening</font></ion-label>
	    <ion-input placeholder="nomor rekening" [(ngModel)]="no_account_doctor" type="number" value="{{no_account_doctor}}" required></ion-input>
	</ion-item>
	<ion-item>
	    <ion-label><font size="3" color="black">Spesialisasi</font></ion-label>
	    <ion-select [(ngModel)]="specialization">
		    <ion-option value="Umum">Umum</ion-option>
			<ion-option value="Gigi">Gigi</ion-option>
			<ion-option value="Anak">Anak</ion-option>
			<ion-option value="Kandungan">Kandungan</ion-option>
			<ion-option value="THT">THT</ion-option>
	    </ion-select>
	</ion-item>
	<ion-item>
	    <ion-label stacked color="dark"><font size="3">Rumah Sakit</font></ion-label>
	    <ion-input placeholder="rumah sakit" [(ngModel)]="hospital" *ngFor="let data of profilDokter" type="text"  required placeholder="(Nama Rumah Sakit)"></ion-input>
	</ion-item>

	<ion-item>
	    <ion-label stacked color="dark"><font size="3">Jumlah Pasien Maksimal</font></ion-label>
	    <ion-input placeholder="(jumlah pasien maksimal)" [(ngModel)]="sum_patient" type="number" value="{{sum_patient}}" required></ion-input>
	</ion-item>

	<ion-item>
		    <ion-label stacked color="dark"><font size="3">Riwayat Pendidikan</font></ion-label>
			<ion-textarea autosize placeholder="pendidikan" [(ngModel)]="educational_background" *ngFor="let data of profilDokter" type="text"  required ></ion-textarea>
		  </ion-item>

		<ion-item>
		    <ion-label stacked color="dark"><font size="3">Riwayat Bekerja</font></ion-label>
		    <ion-textarea placeholder="pekerjaan" autosize  [(ngModel)]="experience" *ngFor="let data of profilDokter" type="text"  required ></ion-textarea>
		</ion-item>




	<button color="{{theme}}" ion-button block (click)='simpanProfil()'>SIMPAN</button>

</ion-content>