page-login {
    img {
        height: 30vh;
        width: 30vh;
        margin: auto;
        display: block;
        }
    .login_button {
        height: 25vw !important;
        width: 100%;
        
    }
}
