page-login-pasien {
    img {
        height: 40vh;
        width: 40vh;
        margin: auto;
        display: block;
        }
    .login_button {
        height: 25vw !important;
        // width: 45%;
        
    }
    .icon {
        font-size:20px; //Preferred size here
        
        float:right;
    }
    .tombol {
        
        top: 30%;
    }

}
