<ion-header>
  <ion-navbar color="{{theme}}">
    <ion-title>
      Beranda
    </ion-title>
  </ion-navbar>	
</ion-header>




<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tarik untuk memperbaharui"
      refreshingSpinner="circles"
      refreshingText="Memperbaharui...">
    </ion-refresher-content>
  </ion-refresher>


  <!-- Real floating action button, fixed. It will not scroll with the content -->


  <ion-fab bottom right >
    <button color="{{theme}}" ion-fab mini><ion-icon  name="ios-menu"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)='gotoSettings()'><ion-icon name="ios-settings"></ion-icon></button>
      <button ion-fab (click)='gotoAbout()'><ion-icon name="information"></ion-icon></button>
      <button ion-fab (click)='profildokter()'><ion-icon name="medkit"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>



	<ion-item>
		<ion-list>
			<ion-item>
					<ion-thumbnail item-left>
						<img [src]="photo" *ngIf="profile_pict_pat" alt="avatar" style='height: 25vw; width: 25vw; display: block; margin: auto;' >

						<img src="assets/pict/person-flat.png" *ngIf="!profile_pict_pat" style='height: 25vw; width: 25vw; display: block; margin: auto;'>

					</ion-thumbnail>
					<ion-item text-wrap>
						<font size="4">{{name}}</font>
						<p>{{address_patient}}</p>
					</ion-item>
					
			</ion-item>

		</ion-list>
	</ion-item >
		<ion-item text-center><font size="4">Data Kesehatan Harian</font></ion-item>
		
	<ion-item *ngFor="let data of daily" >
		<ion-item>
			<ion-icon class='icon' name="pulse"></ion-icon>
			
			<ion-badge item-right color="dark" small><font size="2">{{data.date_daily}}</font></ion-badge>
		</ion-item>
		&nbsp;
		<ion-list >
				<ion-item >
				&nbsp;&nbsp;&nbsp;&nbsp; Tekanan Darah
					<ion-note item-right color="dark">
						{{data.tension_sistol}}/{{data.tension_diastol}} mmHg
						</ion-note>
				</ion-item>
				<ion-item>
				&nbsp;&nbsp;&nbsp;&nbsp; Durasi Tidur
					<ion-note item-right color="dark">
						{{data.sleep_duration}} jam
						</ion-note>
				</ion-item>
				<ion-item no-lines text wrap>
				&nbsp;&nbsp;&nbsp;&nbsp;  Deskripsi
				<ion-card text-wrap>
					<ion-item text-wrap>
						<p>  {{data.daily_description}}</p>
					</ion-item>
				</ion-card>
				</ion-item>
				<!--<ion-item  no-lines text-right>
					<p>2 komentar</p>
				</ion-item>-->
				<ion-item no-lines>
					<button ion-button round block (click)="komentar(data)" color="{{theme}}">Komentar &nbsp; <div *ngIf='data.comment_counter>0' > ({{data.comment_counter}})</div></button>
				</ion-item>
				
		</ion-list>

	</ion-item>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 	</ion-infinite-scroll>


<!--<ion-item no-lines></ion-item>-->

</ion-content>
