page-profil-pasien {
    .profil {
        height: 45vh;
        width: 45vh;
        margin: auto;
        display: block;
        }

}
ion-icon {
        font-size: 30px; //Preferred size here
    }
