page-daftar-pasien {
    .profil_button {
        height: 5vw !important;
        width: 25%;
        // font-size: 5vw;
        
    }
    .data_button {
        height: 5vw !important;
        width: 45%;
        // font-size: 5vw;
    }
}
