page-harian-pasien {

    .filterKomoditas{
        ion-item{
          padding-bottom: 10px;
          
          ion-label{
          padding-bottom: 6px;
          }
        }
      }
      .contenthistory5{
        padding-top: 20px;
      }

}
