<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Buat Akun
    </ion-title>
  </ion-navbar>		
</ion-header>


<!--ni pilih dokter
i
              <ion-option *ngFor="let data of dataKomoditas" value="{{data.komoditas_id}}">{{data.name}}</ion-option>-->


<ion-content padding>

<form #signupForm="ngForm" novalidate>
		<ion-list >
			
			<ion-item>
				<ion-label stacked color="dark"><font size="2">Nama</font></ion-label>
				<ion-input [(ngModel)]="name" name="name" type="text" #nama="ngModel" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
			
			<p ion-text [hidden]="nama.valid || submitted == false" color="danger" padding-left>
				Nama harus diisi
			</p>

			<ion-item>
				<ion-label stacked color="dark"><font size="2">Email</font></ion-label>
				<ion-input [(ngModel)]="email" pattern="[^@\]+@[^@\]+\.[^@\s]+" name="email" type="email" #mail="ngModel" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
			
			<p ion-text [hidden]="mail.valid || submitted == false" color="danger" padding-left>
				Email harus diisi
			</p>

			<ion-item>
				<ion-label stacked color="dark"><font size="2">Password</font></ion-label>
				<ion-input [(ngModel)]="password" name="pass" type="password" minlength="8" #pass="ngModel" required>
				</ion-input>
			</ion-item>
			
			
      

			<p ion-text [hidden]="pass.valid || submitted == false" color="danger" padding-left>
				Password harus diisi (minimal 8 karakter)
			</p>

			<ion-item>
				<ion-label stacked color="dark"><font size="2">Konfirmasi Password</font></ion-label>
				<ion-input [(ngModel)]="password2" name="pass2" type="password" #passconfirm="ngModel" required>
				</ion-input>

			</ion-item>
			<!--<p ion-text [hidden]="submitted2 == true" color="danger" padding-left>
				Password salah
			</p>-->
			<div ion-text [hidden]="submitted2==true && password2==password"  padding-left>
				<p color="danger" *ngIf="password2!=null">Password salah</p>
			</div>

			<ion-item>
				<ion-label><font size="2" color="black">Jenis Kelamin</font></ion-label>
				<ion-select [(ngModel)]="sex" name="sex" #jk="ngModel" required>
				<ion-option value="L">Laki-laki</ion-option>
				<ion-option value="P">Perempuan</ion-option>
				</ion-select>
			</ion-item>

			<p ion-text [hidden]="jk.valid || submitted == false" color="danger" padding-left>
				Pilih satu
			</p>


			<ion-item>
				<ion-label stacked color="dark"><font size="2">Nomor Telepon</font></ion-label>
				<ion-input [(ngModel)]="telephone" (ionChange)="checkTelephone()" name="telephone" type="number" #telpon="ngModel" pattern="[0]{1}[0-9]{1,}" maxlength="13" required>
				</ion-input>
			</ion-item>
			<div ion-text [hidden]="telpon.valid || submitted == false"  padding-left>
				<p color="danger" *ngIf="!telephone">Nomor telepon harus diisi</p>
				<p color="danger" *ngIf="telephone">Nomor telepon salah</p>
			</div>


			<ion-item>
				<ion-label stacked color="dark"><font size="2">Alamat</font></ion-label>
				<ion-textarea  [(ngModel)]="address" name="address" type="text" #alamat="ngModel" required autosize></ion-textarea>
			</ion-item>
			<p ion-text [hidden]="alamat.valid || submitted == false" color="danger" padding-left>
				Alamat harus diisi
			</p>
		</ion-list>

		<ion-row responsive-sm>
			<ion-col>
				<button ion-button block (click)="nextSignup(signupForm)" type="submit">LANJUT</button>
			</ion-col>
		</ion-row>

	</form>



	

</ion-content>

