<ion-header>
  <ion-navbar color="{{theme}}">
    <ion-title>
      Beranda
    </ion-title>
  </ion-navbar>		
</ion-header>




<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tarik untuk memperbaharui"
      refreshingSpinner="circles"
      refreshingText="Memperbaharui...">
    </ion-refresher-content>
  </ion-refresher>


  <!-- Real floating action button, fixed. It will not scroll with the content -->


  <ion-fab bottom right>
    <button color="{{theme}}" ion-fab mini><ion-icon name="ios-menu"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)='gotoSettings()'><ion-icon name="ios-settings"></ion-icon></button>
      <button ion-fab (click)='gotoAbout()'><ion-icon name="information"></ion-icon></button>
      
    </ion-fab-list>
  </ion-fab>



<ion-item>
	<ion-list>
		<ion-item text-wrap>
		    <ion-thumbnail item-left>
		      <img [src]="photo" *ngIf="profile_pict_doct" alt="avatar" style='height: 25vw; width: 25vw; display: block; margin: auto;' >
          
        	<img src="assets/pict/person-flat.png" *ngIf="!profile_pict_doct" style='height: 25vw; width: 25vw; display: block; margin: auto;'>

		    </ion-thumbnail>
		    <font size="4">{{name}}</font>
		    <p text-wrap>Dokter {{specialization}}</p>
		    <!-- <button ion-button clear item-right>
			  <ion-icon name="settings"  (click)='nextProfil()'></ion-icon>
			  &nbsp;&nbsp;&nbsp;&nbsp;
			  <ion-icon name="cash"  (click)='nextBayar()'></ion-icon>
			</button> -->
		</ion-item>

	</ion-list>
</ion-item>


 


<ion-item *ngFor="let data of pasien">
	  <button ion-button clear item-right>
			  <ion-icon color="{{theme}}" name="call"  (click)='teleponPasien(data.no_tel_patient)'></ion-icon>
		</button>
	  {{data.name_patient}}
</ion-item>

<ion-item no-lines></ion-item>
<ion-item no-lines></ion-item>


</ion-content>
