<!--
  Generated template for the ProfilPasien page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="{{theme}}">
    <ion-title>
      Profil Pasien
    </ion-title>
  </ion-navbar>		
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tarik untuk memperbaharui"
      refreshingSpinner="circles"
      refreshingText="Memperbaharui...">
    </ion-refresher-content>
  </ion-refresher>



	<ion-card > 
	  <img src="assets/pict/person-flat.png"  style='height: 40vh; width: 40vh; display: block; margin: auto;'>
	  <ion-item>
	  <button ion-button clear item-right>
			  <ion-icon name="ios-image" color="{{theme}}" (click)="presentActionSheet()"></ion-icon>
			</button>
		</ion-item>
	  <ion-card-content>
	    <ion-card-title>
	      {{name}}
	      </ion-card-title>
	  </ion-card-content>
	</ion-card>

	<ion-list>
	  <ion-item>
	    <ion-icon name="mail" item-left></ion-icon>
	     <font size="3">Email</font>
	     <p>{{email}}</p>
	  </ion-item>

	  <ion-item>
	    <ion-icon name="call" item-left></ion-icon>
	     <font size="3">Nomor Telepon</font>
	     <p>{{no_tel_patient}}</p>
	  </ion-item>


	  <ion-item  text-wrap>
	    <ion-icon name="map" item-left></ion-icon>
	     <font size="3">Alamat</font>
	     <p>{{address_patient}}</p>
	  </ion-item>

  	  <!--<ion-item>
	    <ion-icon name="medkit" item-left></ion-icon>
	     <font size="3">Dokter</font>
	     <p>dr.{{name_doctor}}</p>
	  </ion-item>-->

	<ion-item></ion-item>

	
		<ion-item text-center><font size="4">Riwayat Kesehatan</font></ion-item>
		
		<ion-item>
				<ion-icon name="md-calendar" item-left></ion-icon>
				<font size="3">Umur</font>
				<p *ngFor="let data of history">{{data.age}} tahun</p>
			</ion-item>

			<ion-item>
				<ion-icon name="body" item-left></ion-icon>
				<font size="3">Berat Badan</font>
				<p *ngFor="let data of history">{{data.weight}} kg</p>
			</ion-item>

			<ion-item>
				<ion-icon name="ios-body" item-left></ion-icon>
				<font size="3">Tinggi Badan</font>
				<p *ngFor="let data of history">{{data.height}} cm</p>
			</ion-item>

			<ion-item>
				<ion-icon name="ios-bug" item-left></ion-icon>
				<font size="3">Alergi</font>
				<p *ngFor="let data of history">{{data.allergy}}</p>
			</ion-item>
			
			<ion-item>
				<ion-icon name="md-trending-down" item-left></ion-icon>
				<font size="3">Cacat</font>
				<p *ngFor="let data of history"> {{data.disability}} </p>
			</ion-item>

			<ion-item>
				<ion-icon name="ios-construct" item-left></ion-icon>
				<font size="3">Operasi</font>
				<p *ngFor="let data of history"> {{data.operation}} </p>
			</ion-item>

			<ion-item text-wrap>
				<ion-icon name="ios-search" item-left></ion-icon>
				<font size="3">Deskripsi</font>
				<p *ngFor="let data of history"> {{data.description}} </p>
			</ion-item>

			<!--<ion-item text-wrap>
				<ion-icon name="ios-search" item-left></ion-icon>
				<font size="3">
					Deskripsi Kesehatan</font>
				<p *ngFor="let data of history">{{data.description}}</p>
					
			</ion-item>-->

	<ion-item></ion-item>
			
				<ion-item text-center text-wrap><font size="4">Penyakit Yang Pernah Diderita</font></ion-item>
				<ion-item *ngFor="let data of history2">
						<ion-item>
							<ion-icon name="pulse" item-left></ion-icon>
							<font size="3">Nama Penyakit</font>
							<p>{{data.disease_type}}</p>
						</ion-item>

						<ion-item>
							<ion-icon name="ios-calendar" item-left></ion-icon>
							<font size="3">Tanggal Dirawat</font>
							<p>{{data.hospitalized_date}}</p>
						</ion-item>

						<ion-item>
							<ion-icon name="ios-timer" item-left></ion-icon>
							<font size="3">Lama Dirawat</font>
							<p>{{data.hospitalized_long}} Hari</p>
						</ion-item>
				</ion-item>
		
		
	</ion-list>


<!--
ini buat nampilih gambarnya di page-->


			<!--<img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
				<h3 [hidden]="lastImage !== null">Please Select Image!</h3>-->
			
			
			<!--<ion-footer>
				<ion-toolbar color="primary">
					<ion-buttons>
						<button ion-button icon-left (click)="presentActionSheet()">
							<ion-icon name="camera"></ion-icon>Pilih Gambar
						</button>
						<button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
							<ion-icon name="cloud-upload"></ion-icon>Upload
						</button>
					</ion-buttons>
				</ion-toolbar>
			</ion-footer>-->



<ion-item no-lines></ion-item>
</ion-content>
